In [1]:
## The purpose fo this project is to Analyse Data and provide insights
## Stack Overflow Dev Survey 2023

## Stack Overflow Devs. Survey 2023

In [2]:
import pandas as pd
import seaborn as sns
# Create a visualization to explore the data
import matplotlib.pyplot as plt
# Create a visualization to explore the data
%matplotlib inline

In [3]:
!kaggle datasets download -d stackoverflow/stack-overflow-2023-developers-survey

Dataset URL: https://www.kaggle.com/datasets/stackoverflow/stack-overflow-2023-developers-survey

  0%|          | 0.00/20.5M [00:00<?, ?B/s]
  5%|4         | 1.00M/20.5M [00:00<00:05, 3.71MB/s]
 15%|#4        | 3.00M/20.5M [00:00<00:02, 8.78MB/s]
 29%|##9       | 6.00M/20.5M [00:00<00:01, 13.4MB/s]
 49%|####8     | 10.0M/20.5M [00:00<00:00, 19.1MB/s]
 64%|######3   | 13.0M/20.5M [00:00<00:00, 16.5MB/s]
 73%|#######3  | 15.0M/20.5M [00:01<00:00, 16.1MB/s]
 83%|########3 | 17.0M/20.5M [00:01<00:00, 15.7MB/s]
 93%|#########2| 19.0M/20.5M [00:01<00:00, 15.5MB/s]
100%|##########| 20.5M/20.5M [00:01<00:00, 15.2MB/s]

License(s): unknown
Downloading stack-overflow-2023-developers-survey.zip to C:\Users\Thomas Breton\Portfolio Projects\Stack Overflow Developer Survey

In [4]:
import zipfile

with zipfile.ZipFile("stack-overflow-2023-developers-survey.zip", "r") as zip_ref:
    zip_ref.extractall("stackoverflow_survey_2023")

In [5]:
# Load the dataset
df = pd.read_csv("stackoverflow_survey_2023/survey_results_public.csv")

In [6]:
df.head(5)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [7]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

## Data Exploration

In [8]:
## Avg Comp for Devs, around 103k
df['ConvertedCompYearly'].mean()

103110.08171765343

In [14]:
## Which Industries pay the most
# Group data by a specific category to analyze patterns
Industry_pay = df.groupby('Industry')['ConvertedCompYearly'].mean()
Industry_pay
Industry_pay.sort_values(ascending=False)
## Other, followed by Financial Services and Adv pays the most
## Wholesale pays the least

Industry
Other                                                                  124288.992366
Financial Services                                                     123977.345539
Advertising Services                                                   112730.652033
Healthcare                                                             103571.103408
Insurance                                                              100366.450435
Retail and Consumer Services                                            98211.981959
Information Services, IT, Software Development, or other Technology     94924.338332
Manufacturing, Transportation, or Supply Chain                          89943.515242
Oil & Gas                                                               88982.888889
Legal Services                                                          88300.562130
Higher Education                                                        72076.873126
Wholesale                                                               71881.676471
Name: ConvertedCompYearly, dtype: float64

In [19]:
## Countries with the most entries
df['Country'].value_counts()
## US, Germany and India had the most reponses

United States of America                                18647
Germany                                                  7328
India                                                    5625
United Kingdom of Great Britain and Northern Ireland     5552
Canada                                                   3507
                                                        ...
Saint Kitts and Nevis                                       1
Marshall Islands                                            1
Samoa                                                       1
Central African Republic                                    1
San Marino                                                  1
Name: Country, Length: 185, dtype: int64

In [20]:
# Group data by a specific category to analyze patterns
df.groupby('WorkExp')['ConvertedCompYearly'].mean()
## Years of experience matter, but there are some clear outliers

WorkExp
0.0      39379.230769
1.0      47992.934976
2.0      48526.032813
3.0      56865.129817
4.0      64470.906631
5.0      76638.329947
6.0      79287.526374
7.0     128084.798315
8.0      92707.808357
9.0      94860.748482
10.0    100223.137709
11.0    104072.614002
12.0    104290.352983
13.0    109533.362196
14.0    109630.415452
15.0    107109.302234
16.0    119476.888071
17.0    129992.385084
18.0    119214.833613
19.0    121236.895307
20.0    112534.534062
21.0    120811.612782
22.0    128720.490099
23.0    128012.723881
24.0    117451.592357
25.0    201670.508314
26.0    136734.953307
27.0    476949.452830
28.0    135130.298969
29.0    165846.118280
30.0    125677.604215
31.0    122321.731183
32.0    132069.403509
33.0    126439.408333
34.0    131380.587500
35.0    172928.422886
36.0    131482.795699
37.0    137044.458333
38.0    107270.069444
39.0    153145.600000
40.0    211259.186047
41.0    106318.177778
42.0    148616.290323
43.0    214052.870968
44.0    135931.312500
45.0    193268.861111
46.0    101522.166667
47.0    172062.200000
48.0    173220.333333
49.0    139740.750000
50.0    163095.707317
Name: ConvertedCompYearly, dtype: float64

In [30]:
## I should have checked for missing values in both variables
df['WorkExp'].isnull().sum()

45605

In [31]:
df['ConvertedCompYearly'].isnull().sum()

41165

In [34]:
## I will reasonably filled the missing values with the median
df['WorkExp'].fillna(df['WorkExp'].median())

0         9.0
1        10.0
2        23.0
3         7.0
4         6.0
         ...
89179     9.0
89180     9.0
89181     9.0
89182     9.0
89183    14.0
Name: WorkExp, Length: 89184, dtype: float64

In [35]:
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median())

0         74963.0
1        285000.0
2        250000.0
3        156000.0
4         23456.0
           ...
89179     74963.0
89180     74963.0
89181     74963.0
89182     74963.0
89183     74963.0
Name: ConvertedCompYearly, Length: 89184, dtype: float64

In [38]:
import numpy as np

## Insights Using Data

In [42]:
correlation = df['ConvertedCompYearly'].corr(df['WorkExp'])
correlation
## correlation is not super strong, may due to outliers

0.04607837551225553

In [50]:
## Whats the most popular method of learning to code?
df['LearnCode']

0                                                      NaN
1        Books / Physical media;Colleague;Friend or fam...
2        Books / Physical media;Colleague;On the job tr...
3        Colleague;Friend or family member;Other online...
4        Books / Physical media;Online Courses or Certi...
                               ...
89179    Online Courses or Certification;Other online r...
89180    Colleague;Online Courses or Certification;Othe...
89181    Books / Physical media;Hackathons (virtual or ...
89182    Online Courses or Certification;Other online r...
89183    Colleague;Online Courses or Certification;Othe...
Name: LearnCode, Length: 89184, dtype: object

In [51]:
df['LearnCode'].nunique()
## there are 790 unique ways people learn how to code

790

In [54]:
Learn_code = df['LearnCode'].value_counts()
Learn_code
## Most people learn with online resources, followed by books and then formal educational resources

Other online resources (e.g., videos, blogs, forum)                                                                                                                                                             4873
Books / Physical media;Other online resources (e.g., videos, blogs, forum)                                                                                                                                      3300
Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)                                                                                                                     3070
Books / Physical media;Online Courses or Certification;Other online resources (e.g., videos, blogs, forum)                                                                                                      3024
Online Courses or Certification;Other online resources (e.g., videos, blogs, forum)                                                                                                                             2871
                                                                                                                                                                                                                ...
Colleague;Friend or family member;Hackathons (virtual or in-person);Other online resources (e.g., videos, blogs, forum);Coding Bootcamp                                                                            1
Books / Physical media;Colleague;Hackathons (virtual or in-person);On the job training;Coding Bootcamp                                                                                                             1
Books / Physical media;Hackathons (virtual or in-person);Online Courses or Certification;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc);Other (please specify):       1
Books / Physical media;Friend or family member;Hackathons (virtual or in-person);On the job training;Other online resources (e.g., videos, blogs, forum);Coding Bootcamp;Other (please specify):                   1
Colleague;Hackathons (virtual or in-person);Coding Bootcamp                                                                                                                                                        1
Name: LearnCode, Length: 790, dtype: int64

In [57]:
## Are you more likely to get a job if you have a masters?
df['EdLevel'].nunique()

8

In [58]:
df['EdLevel'].unique()

array([nan, 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Some college/university study without earning a degree',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Something else'], dtype=object)

In [61]:
## classifying Ed level by masters and non-masters
masters = df[df['EdLevel']=='Masters Degree']
non_masters = df[df['EdLevel']!='Masters Degree']

In [73]:
## Getting employment rate mean for masters
masters_emp_rate = (masters['Employment'] == 'Employed, full-time').mean()
masters_emp_rate

nan

In [74]:
## Getting employment rate mean for non-masters
non_masters_emp_rate = (masters['Employment'] == 'Employed, full-time').mean()
non_masters_emp_rate

nan

In [90]:
## Drop na values to get ratio of employment
# Drop missing values to clean the dataset
df = df.dropna(subset = ['EdLevel','Employment'])

In [91]:
print(df['EdLevel'].isna().sum())  # Count missing values in education level
print(df['Employment'].isna().sum())  # Count missing values in employment status
## no more na values in dataset

0
0

In [92]:
masters = df[df['EdLevel'].str.contains('Master', case=False, na=False)]
non_masters = df[~df['EdLevel'].str.contains('Master', case=False, na=False)]

masters_employment_rate = (masters['Employment'].str.contains('Employed', case=False, na=False)).mean()
non_masters_employment_rate = (non_masters['Employment'].str.contains('Employed', case=False, na=False)).mean()

In [98]:
masters_employment_rate *100

96.8543046357616

In [95]:
non_masters_employment_rate *100

87.07134586265254

In [85]:
## We can say that more masters educated level people have higher levels
## of full time employment, no correlation just ratios
## around 97% of masters educated are employed
## around 88% of non-masters educated are employed
## Yay!